
/*
Theme_Name: simple
Author: dekko Shen
Version: 1.0_201412
*/


/******************  initial setup  ******************/
@font-face {
	font-family:"Essays 1743";
	src: url(https://dl.dropboxusercontent.com/u/14624624/website_tools/fonts/Essays1743.eot);
	src: url(https://dl.dropboxusercontent.com/u/14624624/website_tools/fonts/Essays1743.eot?#iefix) format('embedded-opentype'),
	     url(https://dl.dropboxusercontent.com/u/14624624/website_tools/fonts/Essays1743.woff) format('woff'),
	     url(https://dl.dropboxusercontent.com/u/14624624/website_tools/fonts/Essays1743.ttf) format('truetype');
}


* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 75%;            /* 12px */
}

@media only screen and (max-resolution:264dpi), only screen and (-webkit-max-device-pixel-ratio:2) {
	html { font-size: 75%; }     /* 12px ex: 2048x1536 for 9.7" */
}

@media only screen and (max-resolution:180dpi), only screen and (-webkit-max-device-pixel-ratio:1.75) {
	html { font-size: 87.5%; }   /* 14px */
}

@media only screen and (max-resolution:96dpi), only screen and (-webkit-max-device-pixel-ratio:1.5) {
	html { font-size: 100%; }    /* 16px ex: 1920x1080 for 23" */
}

body {
	font-weight: 400;
	font-family: Merriweather, Georgia, "Times New Roman", "Microsoft JhengHei", "Noto Sans CJK TC Light", serif;
	background-color:#FFFFFF;  /* #FFFFFF; #A9A9A9;*/
	color: #000000;
	line-height:1.875rem;
	height: 100%;
}

::-moz-selection { background: #eb6841; text-shadow: none; }     /* style for selected content */
	 ::selection { background: #eb6841; text-shadow: none; }

/******************  elements setup  ******************/
h1 { font-size: 2.25rem; }
h2 { font-size: 2.00rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.50rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.00rem; }

p { 
	font-size: 1.00rem;
	text-align: justify;
}

ul    { list-style-type:none; }
li    { font-size: 1.00rem; }
ul ul { padding-left: 1rem; }  /* for all ul_2 in ul_1 */

table {
	width: 100%;
	border-style: none;
	border-collapse: collapse;
}

th, td, tr {
	border-style: none;
}

a:link {
	color:#000000; 
	background-color:transparent; 
	text-decoration:none
}

a:visited {
	color:#000000; 
	background-color:transparent; 
	text-decoration:none;
}

a:hover {
/*	color:#70151C;
	font-weight: bold;  */
	color:#000000; 
	background-color:transparent; 
	text-decoration: line-through;
	cursor:pointer;
}

a:active {
/*	color:#70151C;
	font-weight: bold; */
	color:#000000; 
	background-color:transparent;  
	text-decoration: line-through;
	cursor:pointer;
}

a:target {
	color:#000000; 
	background-color:transparent; 
	font-weight: bold; 
	text-decoration:none;
}

/******************  menu layout  ******************/
#menu {
	width:13rem;
	height:100%;
	margin:0rem;
	padding:2rem 2rem 0rem 2rem;
	overflow: auto;
	position: fixed;
	 top: 0;
	left: 0;
	background-color: #FFFFFF;
	opacity: 0.8;
	filter: alpha(opacity=8); /* For IE8 and earlier */
	text-align:left;
	z-index: 16777271;   /* MAX: 2147483647; */
}


/****************  content layout  ****************/
#content {
	height:100%;
	margin:0rem 0rem 0rem 13rem;  /* margin-left = menu_width + menu_margin */
	padding:3.8rem 3rem 0rem 3rem;
}


/****************  inside_block elements  ****************/
#menu .title {
	margin:0rem 0rem 2rem 0rem;
}

#menu .title a{
	color:#000000; 
	background-color:transparent; 
	text-decoration:none;
}

#menu .nav_list{
}

#content .img_container { 
	overflow:auto;
} 

#content .pic_holder {        /*a set of pictures. they cannot be rearrange */
	display: inline-table;
	vertical-align: top;
	float: left;
	line-height: 0rem;
	/* display: inline-block;
	vertical-align: top;  */
}

#content .text_holder { 
	display: inline-block;
	vertical-align: top;
}

.table_holder{
	display: inline-table;
	vertical-align: top;
}

.table_r{
	display: table-row;
	vertical-align: top;
}

.table_c{
	display: table-cell;
	vertical-align: top;
}

/* for javascript changing style */
.img_changeCover { 
	position:absolute;
	opacity:1; 
/*	transition:opacity 3s cubic-bezier(0.72,0.25,0.25,0.72); */
}
/*.img_changeCover:hover { opacity:0; }*/

.functionWrap{
	text-align: center;
}

.functionButton{
	display: inline-block;
	vertical-align: top;
	margin:  0.7rem 1.0rem 0.7rem 1.0rem;
	padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.functionButton:hover {
	text-decoration: line-through;
	cursor:default;
}

.functionButton:active {
	text-decoration: line-through;
	cursor:default;
}

/******************  define class  ******************/
.font_normal { font-style: normal; }
.font_italic { font-style: italic; }
.font_bold   { font-weight: 700;   }

.font_essays1743 { font-family:"Essays 1743", Merriweather, Georgia, "Microsoft JhengHei", serif; }

.sans_serif { font-family: helvetica, verdana, "Microsoft JhengHei", "Noto Sans CJK TC Light", Sans-serif; }
.serif      { font-family: Merriweather, Georgia, "Times New Roman", "PMingLiU", serif;  }
